{# ====== FOOTER ====== #}
<footer id="footer-part">
    <div class="footer-top pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title mb-20">
                            <h6>About us</h6>
                        </div>
                        <p>We are here to provide you with top quality educational courses and resources.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title mb-20">
                            <h6>Quick Links</h6>
                        </div>
                        <ul>
                            <li><a href="{{ path('front_home') }}">Home</a></li>
                            <li><a href="{{ path('front_courses') }}">Courses</a></li>
                            <li><a href="{{ path('front_events') }}">Events</a></li>
                            <li><a href="{{ path('front_blog') }}">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title mb-20">
                            <h6>Support</h6>
                        </div>
                        <ul>
                            <li><a href="{{ path('front_contact') }}">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title mb-20">
                            <h6>Contact Info</h6>
                        </div>
                        <p>127/5 Mark street, New york</p>
                        <p>Phone: 321 325 5678</p>
                        <p>Email: info@yourmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom pt-30 pb-30 text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; {{ 'now'|date('Y') }} EduSync. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
