{% extends 'front/base_front.html.twig' %}

{% block title %}Enseignants{% endblock %}

{% block body %}
<div class="search-box">
    <div class="serach-form">
        <div class="closebtn">
            <span></span>
            <span></span>
        </div>
        <form action="#">
            <input type="text" placeholder="Search by keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
         style="background-image: url('{{ asset('assets/front/images/page-banner-3.jpg') }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Teachers</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('front_home') }}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Teachers</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="teachers-page" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">

            {% set teachers = [
                {'name':'Mark alen', 'role':'Vice chencelor', 'img':'t-1.jpg'},
                {'name':'David card', 'role':'Pro chencelor', 'img':'t-2.jpg'},
                {'name':'Rebeka alig', 'role':'Pro chencelor', 'img':'t-3.jpg'},
                {'name':'Hanna bein', 'role':'Aerobics head', 'img':'t-4.jpg'},
                {'name':'David card', 'role':'Pro chencelor', 'img':'t-5.jpg'},
                {'name':'Mark alen', 'role':'Vice chencelor', 'img':'t-6.jpg'},
                {'name':'Rebeka alig', 'role':'Pro chencelor', 'img':'t-7.jpg'},
                {'name':'Hanna bein', 'role':'Aerobics head', 'img':'t-8.jpg'}
            ] %}

            {% for t in teachers %}
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{{ asset('assets/front/images/teachers/' ~ t.img) }}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="{{ path('front_teachers') }}"><h6>{{ t.name }}</h6></a>
                            <span>{{ t.role }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="row">
            <div class="col-lg-12">
                <nav class="courses-pagination mt-50">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a href="#" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="active" href="#">1</a></li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item">
                            <a href="#" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</section>
{% endblock %}
